.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}


.content {
  width: 600px;
  float: right;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  padding-left: 10px;
  padding-top: 0px;
}

h2 {
  margin-top: 0;
  padding-left: 0px;
}

nav {
  width: 90px;
  float: left;
  padding-top: 0;
  margin-left: 0px;
}
